.image-container {
    position: relative;
    min-height: 300px;
    border: 1px solid #dee2e6;
    border-radius: 5px;
    padding: 20px;
    background-color: #f8f9fa;
    margin-bottom: 30px;
}

#houseImage {
    max-width: 100%;
    height: auto;
    margin: 0 auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#noImageSelected {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
}

#loadingSpinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form-select:focus {
    border-color: #86b7fe;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}